@charset "utf-8";

/*-----------------------------------------------
    index
-----------------------------------------------*/

.indexBox{
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    -o-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin: 0 0 0 auto;
}
.indexBox .tit{
    font-size: 28px;
    letter-spacing: -4px;
} 
_:lang(x)+_:-webkit-full-screen-document,.indexBox .tit{
    letter-spacing: 3px;
} 
.indexBox .titSpan{
    position: relative;
}
.indexBox .titSpan::after{
    position: absolute;
    content: "";
    width: 94px;
    height: 1px;
    background: #222222;
    transform: translateY(0) rotate(-31deg);
    left: -54px;
    bottom: -53px;
} 
@media only screen and (max-width:767px){
    .indexBox{
        writing-mode: horizontal-tb;
        text-orientation: inherit;
        margin: 0 auto;
    }
    .indexBox .tit{
        font-size: 19px;
        letter-spacing: -5px;
        -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
        -o-writing-mode: vertical-rl;
        writing-mode: vertical-rl;
        text-orientation: upright;
    } 
    _:lang(x)+_:-webkit-full-screen-document,.indexBox .tit{
        letter-spacing: 2px;
    } 
    .indexBox .titSpan::after{
        width: 35px;
        transform: translateY(0) rotate(-31deg);
        left: auto;
        right: -6px;
        bottom: -20px;
    } 
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    _::-webkit-full-page-media, _:future, :root .indexBox .tit {
        letter-spacing: 0px;
    }
}
/* spanIcon */
.spanIcon{
    position: relative;
    right: -7px;
    top: -6px;
    padding: 3px 0;
}
/* Rotate */
.spanRotate,.spanRotateUnder{
    transform: rotate(90deg);
    display: inline-block;
    position: relative;
    letter-spacing: 3px;
}
.isIpad .spanRotate{
    left: -1px;
}
.spanRotateUnder{
    bottom: -4px;
}
.isIpad .spanRotateUnder{
    bottom: 2px;
}
.spanRotate02,.spanRotate03,.spanRotate04,.spanRotate05{
    display: inline-block;
    transform: scaleX(-1) rotate(93deg);
    position: relative;
    left: -2px;
}
.isIpad .spanRotate02{
    left: 6px;
}
.spanRotate05{
    top: -5px;
}
.spanRotate03{
    top: 2px;
    left: -2.5px;
}
.isIpad .spanRotate03{
    left: 6px;
    top: -2px;
}
.spanRotate04{
    transform: scaleX(-1) rotate(90deg);
}
_:lang(x)+_:-webkit-full-screen-document,.spanRotate04{
    left: 1.5px;
    top: -3px;
}
.spanRotateEng{
    text-orientation: sideways;
    display: inline-block;
    letter-spacing: 3px;
    position: relative;
    left: -4px;
    padding-top: 4px;
}
@-moz-document url-prefix() {
    .spanRotateEng{
        left: 0;
    }
}
@media only screen and (min-width:768px){
    .spanTsu{
        position: relative;
        right: -0.1em;
        top: -0.1em;
    }
    _:lang(x)+_:-webkit-full-screen-document,.spanDot{
        position: relative;
        left: 0.3em;
        top: 0.3em;
    }
}
/* cmnTitEng */
.cmnTitEng{
    font-size: 13px;
    color: #999999;
    letter-spacing: 1px;
}
@media only screen and (max-width:767px){
    .spanIcon{
        position: static;
        padding-top: 0;
    }
    .cmnTitEng{
        font-size: 10px;
        font-weight: 700;
        letter-spacing: normal;
    }
    /* Rotate */
    .spanRotate,.spanRotate02,.spanRotate03,.spanRotate04,.spanRotateUnder,.spanRotateEng,.spanRotate05{
        transform: none;
        position: static;
        letter-spacing: normal;
        padding: 0;
    }
}

/* reserveBox */
.reserveBox{
    width: 830px;
    margin: 74px auto 0;
    display: flex;
    justify-content: space-between;
}
.reserveBox .btnReserve{
    width: 400px;
}
.reserveBox .btnInner{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    border: solid 1px #000;
    text-decoration: none;
    color: #000;
    letter-spacing: 0.75px;
}
.reserveBox .btnIcon{
    position: relative;
    padding-left: 28px;
}
.reserveBox .btnIcon::after{
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    left: 0;
    top: calc(50% - 10px);
}
.reserveBox .btnIcon.lazyloaded::after{
    background: url(../img/index/icoReserve.gif) center top no-repeat;
}
.reserveBox .txtUnder{
    font-size: 12px;
    font-weight: 500;
    margin-top: 30px;
    text-align: center;
}
@media only screen and (max-width:767px){
    .reserveBox{
        width: 100%;
        margin-top: 35px;
        display: block;
    }
    .reserveBox .btnReserve{
        width: 245px;
        margin: 0 auto;
    }
    .reserveBox .btnReserve:nth-child(2){
        margin-top: 10px;
    }
    .reserveBox .btnInner{
        height: 42px;
        font-size: 11px;
        letter-spacing: normal;
    }
    .reserveBox .btnIcon{
        padding-left: 18px;
    }
    .reserveBox .btnIcon::after{
        width: 12px;
        height: 12px;
        left: 0;
        top: calc(50% - 6px);
    }
    .reserveBox .btnIcon.lazyloaded::after{
        background-size: cover;
    }
    .reserveBox .txtUnder{
        font-size: 11px;
        margin-top: 15px;
    }
}
@media only screen and (max-width:359px){
    .reserveBox .txtUnder{
        font-size: 10px;
    }
}

/* secHero */
.secHero{
    position: relative;
    height: 100vh;
}
.secHero .txtBox{
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    -o-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    text-orientation: upright;
    z-index: 100;
}
.secHero .heroTxt{
    font-size: 17px;
    color: #fff;
    letter-spacing: 1px;
    white-space: nowrap;
}
_:lang(x)+_:-webkit-full-screen-document,.secHero .heroTxt{
    letter-spacing: 3px;
}
.secHero .spanTxt{
    position: relative;
    right: -7px;
    top: -5px;
}
.secHero .swiper-slide{
    position: relative;
    overflow: hidden;
    background: #fff;
}
.secHero .swiper-slide .img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.secHero .swiper-slide .img img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    font-family: 'object-fit: cover;'
}
.secHero .swiper-slide-active .img,
.secHero .swiper-slide-duplicate-active .img,
.secHero .swiper-slide-prev .img{
    animation: zoomUp 11s linear 0s 1 normal both;
}
@keyframes zoomUp {
    0% {
        transform: scale(1.15);
        -webkit-transform: scale(1.15);
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

@media only screen and (max-width:767px){
    .secHero .swiper-slide{
        height: 100vw;
    }
    .secHero .heroTxt{
        font-size: 14px;
        letter-spacing: -1px;
    }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) and (max-width: 767px) {
    _::-webkit-full-page-media, _:future, :root .secHero .heroTxt{
        letter-spacing: 4px;
    }
}

/* secGreeting */
.secGreeting{
    padding-top: 98px;
}
.secGreeting .indexBox{
    margin-top: 90px;
}
.secGreeting .tit{
    margin-left: 110px;
}
.secGreeting .txt{
    font-size: 15px;
    line-height: 5.2;
    margin: 56px 0 0 51px;
    letter-spacing: -2.2px;
}
_:lang(x)+_:-webkit-full-screen-document,.secGreeting .txt{
    letter-spacing: 1px;
}
.secGreeting .txtName{
    margin: 0 0 0 42px;
}
.secGreeting .greetingImg{
    position: relative;
    height: 700px;
    margin-top: 195px;
    overflow: hidden;
}
.secGreeting .imgWrapper{
    display: flex;
    position: absolute;
    width: 1920px;
    left: calc(50% - 960px);
    top: 0;
}
.secGreeting .img{
    width: 960px;
    height: 700px;
}
.secGreeting .boxOwner{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 230px;
    margin: auto 0 0 0;
}
.secGreeting .txtName{
    height: 230px;
    margin: 0 30px 0 auto;
}
@media only screen and (max-width:767px){
    .secGreeting{
        padding-top: 69px;
    }
    .secGreeting .indexBox{
        margin-top: 12px;
    }
    .secGreeting .tit{
        margin-left: 3px;
    }
    _:lang(x)+_:-webkit-full-screen-document,.secGreeting .tit{
        letter-spacing: 1px;
    }
    .secGreeting .txt{
        font-size: 12px;
        line-height: 2.16;
        margin: 50px 0 0;
        letter-spacing: 1px;
    }
    .secGreeting .txtName{
        margin: 25px 0 0 auto;
        width: 122px;
    }
    .secGreeting .greetingImg{
        height: auto;
        margin-top: 88px;
    }
    .secGreeting .imgWrapper{
        display: block;
        position: static;
        width: 100%;
    }
    .secGreeting .img{
        width: 100%;
        height: 0;
        padding-top: 72.917%;
        position: relative;
    }
    .secGreeting .img img{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .secGreeting .boxOwner{
        align-items: center;
        flex-direction: row;
        height: 100px;
        margin: 20px 0 0 0;
    }
    .secGreeting .imgOwner{
        width: 74px;
    }
    .secGreeting .txtName{
        height: auto;
        margin: 0 0 0 20px;
    }
}
@media only screen and (max-width:359px){
    .secGreeting .txt{
        font-size: 11px;
    }
}

/* secMenu */
.secMenu{
    padding-top: 98px;
}
.secMenu .indexBox{
    margin-top: 90px;
}
.secMenu .tit {
    margin-left: 136px;
}
.secMenu .secCmnTit{
    margin-left: 167px;
    margin-top: 58px;
}
.secMenu .wrapperTitCmnJpn{
    letter-spacing: -5.25px;
    padding: 0 0 3px;
}
_:lang(x)+_:-webkit-full-screen-document,.secMenu .wrapperTitCmnJpn{
    letter-spacing: 3px;
    padding-top: 3px;
}
.secMenu .spanIcon{
    top: -10px;
}
.secMenu .priceTxt{
    border-right: solid 1px #000;
    border-left: solid 1px #000;
    padding: 34px 61px 0;
    font-size: 28px;
    margin-left: 52px;
    margin-top: 61px;
    height:600px;
    display: flex;
}
.secMenu .underBox{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.secMenu .priceTxt .spanRotate{
    left: -1.5px;
}
.secMenu .spanPrice{
    font-size: 18px;
    font-weight: 500;
    padding-top: 69px;
    letter-spacing: -3.5px;
    line-height: 2;
}
.secMenu .spanPrice.txtInfo{
    font-size: 12px;
    padding-top: 72px;
    letter-spacing: 1px;
}
_:lang(x)+_:-webkit-full-screen-document,.secMenu .spanPrice{
    letter-spacing: 1px;
}
.secMenu .boxTxt{
    font-size: 16px;
    font-weight: 500;
    margin-left: 38px;
    margin-top: 55px;
    letter-spacing: -3px;
}
_:lang(x)+_:-webkit-full-screen-document,.secMenu .boxTxt{
    letter-spacing: 1px;
}
.secMenu .subTxt{
    font-size: 13px;
    line-height: 2.3;
    margin-left: 170px;
    margin-top: 55px;
    letter-spacing: -4px;
}
.secMenu .subTxt .txtIndent{
    margin-top: 15px;
}
_:lang(x)+_:-webkit-full-screen-document,.secMenu .subTxt{
    letter-spacing: 1px;
}
@media only screen and (max-width:767px){
    .secMenu{
        padding-top: 69px;
    }
    .secMenu .indexBox{
        margin-top: 13px;
    }
    .secMenu .tit{
        margin-left: 3px;
    }
    .secMenu .secCmnTit{
        margin-left: 0;
        margin-top: 54px;
    }
    .secMenu .spWrapper{
        width: 84.616%;
        min-width: 264px;
        margin: 0 auto;
    }
    .secMenu .priceTxt{
        border: solid 1px #000;
        border-right: none;
        border-left: none;
        padding: 20px 10px;
        font-size: 18px;
        margin-left: 0;
        margin-top: 38px;
        height: auto;
        text-align: center;
        vertical-align: middle;
        line-height: 1.5;
    }
    .secMenu .spanPrice {
        font-size: 12px;
        padding: 0 0 0 14px;
        letter-spacing: 1px;
        vertical-align: 2px;
    }
    .secMenu .spanPrice.txtInfo{
        font-size: 10px;
        padding: 0px;
        letter-spacing: 0;
    }
    .secMenu .boxTxt {
        font-size: 12px;
        margin-left: 0;
        margin-top: 30px;
        letter-spacing: 1.5px;
    }
    .secMenu .subTxt {
        font-size: 11px;
        line-height: 1.7;
        margin-left: 0;
        margin-top: 13px;
        letter-spacing: 0.75px;
    }
    .secMenu .subTxt .txtIndent{
        margin-top: 0;
    }
}
@media only screen and (max-width:360px){
    .secMenu .priceTxt {
        font-size: 16px;
    }
}

/* secMenuSlider */
.secMenuSlider{
    margin-top: 152px;
}
.secMenuSlider .boxSlider{
    position: relative;
    overflow: hidden;
}
.secMenuSlider .swiper-wrapper{
    transition-timing-function: linear;
}
.secMenuSlider .swiper-container{
    width: 1140px;
    overflow: visible;
}
.secMenuSlider .boxSlider.disabled .swiper-wrapper{
    justify-content: center;
}
.secMenuSlider .boxSlider.disabled .swiper-slide{
    width: 360px;
}
.secMenuSlider .boxSlider.disabled .swiper-slide:not(:last-child){
    margin-right: 30px;
}
.secMenuSlider .link{
    display: block;
    text-decoration: none;
    color: inherit;
}
@media only screen and (max-width:767px){
    .secMenuSlider{
        margin-top: 65px;
    }
    .secMenuSlider .swiper-container{
        width: 46.667vw;
    }
}

/* secReserve */
.secReserve{
    padding-top: 98px;
}
.secReserve .indexBox{
    margin-top: 90px;
}
.secReserve .tit{
    margin-left: 142px;
}
.secReserve .secCmnTit{
    margin-left: 73px;
    margin-top: 58px;
}
.secReserve .spanIcon{
    top: -8px;
}
.secReserve .listTit{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -3.5px;
}
_:lang(x)+_:-webkit-full-screen-document,.secReserve .listTit{
    letter-spacing: 1px;
}
.secReserve .listTxt{
    font-size: 13px;
    line-height: 2.15;
    font-weight: 500;
    letter-spacing: -3.5px;
    padding-top: 32px;
    margin-right: 7px;
}
.secReserve .listTxt .txtIndent {
    margin-top: 15px;
}
.secReserve li:first-child .listTxt{
    padding-top: 0;
}
_:lang(x)+_:-webkit-full-screen-document,.secReserve .listTxt{
    letter-spacing: 1px;
}
.secReserve .listTxt .spanRotate,.secReserve .listTxt .spanRotateUnder{
    left: -1px;
}
.secReserve .reserveList{
    padding-top: 57px;
}
.secReserve li:not(li:last-child){
    margin-left: 58px;
}
.secReserve li:first-child{
    margin-left: 52px;
}
.secReserve .spanRed{
    color: #e60012;
    text-decoration: none;
}
.secReserve .imgUnder{
    width: 770px;
    height: 850px;
    margin: 150px auto 0;
    text-align: center;
}
.secReserve .listTxt .brSp413{
    display: none;
}
.secReserve .boxListBtn{
    display: flex;
    align-items: flex-end;
    margin: 0 20px 0 0;
    height: 290px;
    justify-content: center;
}
.secReserve .listBtn{
    display: flex;
    width: auto;
    height: auto;
    padding: 10px;
    border: 1px solid #000;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    text-orientation: mixed;
}
.secReserve .listBtn:nth-child(1){
    letter-spacing: -2.5px;
}
.secReserve .listBtn:nth-child(2){
    margin-top: 35px;
    letter-spacing: 1px;
}
@media only screen and (max-width:767px){
    .secReserve{
        padding-top: 69px;
    }
    .secReserve .indexBox{
        margin-top: 13px;
    }
    .secReserve .tit{
        margin-left: 3px;
    }
    .secReserve .secCmnTit{
        margin-left: 0;
        margin-top: 54px;
    }
    .secReserve .reserveList {
        padding-top: 38px;
    }
    .secReserve li:not(li:last-child) {
        margin-left: 0;
    }
    .secReserve li:nth-child(n+2){
        margin-top: 25px;
    }
    .secReserve .listTit {
        font-size: 12px;
        letter-spacing: normal;
    }
    .secReserve .listTxt {
        font-size: 12px;
        line-height: 1.75;
        letter-spacing:normal;
        padding: 5px 0 0 10px;
        margin-right: 0;
    }
    .secReserve li:first-child .listTxt{
        padding-left: 0;
    }
    .secReserve .spTel{
        display: inline-block;
        font-size: 12px;
        color: #e60012;
        text-decoration: none;
    }
    .secReserve .imgUnder{
        width: 100%;
        height: 0;
        padding-top: 110.39%;
        margin-top: 70px;
        position: relative;
    }
    .secReserve .imgUnder img{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .secReserve .boxListBtn{
        justify-content: space-between;
        margin: 10px 0 0;
        height: auto;
    }
    .secReserve .listBtn{
        display: flex;
        width: 48%;
        height: 32px;
    }
    .secReserve .listBtn:nth-child(1){
        letter-spacing: inherit;
    }
    .secReserve .listBtn:nth-child(2){
        margin: 0 0 0 4%;
        letter-spacing: inherit;
    }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-width: 768px) {
    .secReserve .listBtn:nth-child(1){
        letter-spacing: inherit;
    }
}
@media only screen and (max-width:413px){
    .secReserve .listTxt .brSp413{
        display: inline;
    }
}
@media only screen and (max-width:374px){
    .secReserve .listTxt,
    .secReserve .listBtn{
        font-size: 11px;
    }
}
@media only screen and (max-width:359px){
    .secReserve .listTxt,
    .secReserve .listBtn{
        font-size: 10px;
        letter-spacing: normal;
    }
}

.secInfo{
    padding-top: 198px;
    text-align: center;
}
.secInfo .cmnTitEng{
    text-align: center;
}
.secInfo .indexBox{
    margin: 29px auto 0;
    display: inline-block;
}
.secInfo .indexBox .titSpan::after {
    left: -27px;
    bottom: -52px;
}
.secInfo .logoBox{
    margin-top: 124px;
    text-align: center;
}
.secInfo .logoName{
    margin-top: 20px;
    font-size: 25px;
    letter-spacing: 3.5px;
}
.secInfo  .nameEng{
    margin-top: 20px;
    font-size: 10px;
    letter-spacing: 1.5px;
    font-weight: 300;
}
.secInfo .infoTxt{
    font-size: 14px;
    line-height: 2.28;
    text-align: center;
    margin-top: 31px;
    letter-spacing: 2.5px;
}
.secInfo .mapBtn{
    margin-top: 30px;
    text-align: center;
}
.secInfo .btnInner{
    display: inline-block;
    font-size: 11px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    padding-left: 16px;
    position: relative;
    letter-spacing: 1.5px;
    border-bottom: solid 1px #000;
    padding-bottom: 8px;
}
.secInfo .btnInner::after{
    position: absolute;
    content: "";
    width: 10px;
    height: 14px;
    left: 0;
    top: 0;
}
.secInfo .btnInner.lazyloaded::after{
    background: url(../img/index/iconMap.gif) center top / cover;
}
@media only screen and (max-width:767px){
    .secInfo{
        padding-top: 70px;
    }
    .secInfo .cmnTitEng{
        text-align: left;
    }
    .secInfo .indexBox{
        margin: 13px 0 0 3px;
    }
    .secInfo .indexBox .titSpan::after {
        left: auto;
        right: -6px;
        bottom: -20px;
    }
    .secInfo .logoBox{
        margin-top: 38px;
    }
    .secInfo .iconLogo{
        width: 55px;
        margin: 0 auto;
    }
    .secInfo .logoName{
        margin-top: 16px;
        font-size: 20px;
        letter-spacing: 2.5px;
    }
    .secInfo  .nameEng{
        margin-top: 8px;
        font-size: 10px;
        letter-spacing: 0.5px;
    }
    .secInfo .infoTxt{
        font-size: 11px;
        line-height: 1.9;
        margin-top: 22px;
        letter-spacing: 1px;
    }
    .secInfo .mapBtn{
        margin-top: 24px;
    }
    .secInfo .btnInner{
        font-size: 10px;
        padding-left: 15px;
        letter-spacing: 0.5px;
    }
}

.secCalendar{
    padding-top: 75px;
   margin-top: 5px;
}
.secCalendar .calenderTit{
    font-size: 24px;
    text-align: center;
    letter-spacing: 3px;
}
.secCalendar .iconTxt{
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    margin-top: 32px;
}
.secCalendar .iconSpan{
    position: relative;
    padding-left: 26px;
}
.secCalendar .iconSpan::after{
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    left: 0;
    top: 1px;
    border-radius: 50%;
    background: #dcdcdc;
}
.secCalendar .wrapper{
    width: 1510px;
    max-width: calc(100% - 40px);
    margin: 34px auto 0;
}
.secCalendar .calendarList{
    display: flex;
}
.secCalendar .item{
    width: 32.451%;
    margin-right: 1.3235%;
}
.secCalendar .item:last-child{
    margin-right: 0;
}
.secCalendar .monthTit{
    background: #000;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 17px 0 18px;
    text-align: center;
    letter-spacing: 1.5px;
    transform: skewX(-7deg);
}
.secCalendar .spanMonth{
    transform: skewX(7deg);
    display: inline-block;
}
.secCalendar .dayTable{
    width: calc(100% - 20px);
    margin: 0 auto;
}
.secCalendar tr{
    display: flex;
    margin-top: 10px;
}
.secCalendar tr:first-child{
    margin-top: 0;
}
.secCalendar tr:nth-child(2){
    margin-top: 20px;
}
.secCalendar .dayTit{
    border-bottom: solid 1px #535353;
}
.secCalendar th,.secCalendar td{
    width: 10.639%;
    margin-right: 4.2545%;
    text-align: center;
}
.secCalendar th{
    padding: 25px 0 24px;
    font-size: 11px;
    letter-spacing: 1px;
}
.secCalendar th:last-child,.secCalendar td:last-child{
    margin-right: 0;
}
/* td中身 */
.secCalendar .boxDate{
    width: 100%;
    padding-top: 100%;
    position: relative;
}
.secCalendar .date{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    letter-spacing: 0.5px;
    font-size: 14px;
}
.secCalendar .holiday .date{
    background: #dcdcdc;
}
.secCalendar .past .date{
    color: rgba(0, 0, 0, 0.4);
}
.secCalendar .today .date{
    border: solid 1px #e60012;
}
.secCalendar .txtNote{
    font-size: 13px;
    line-height: 2.15;
    text-align: center;
    margin-top: 15px;
    letter-spacing: 2px;
}
@media only screen and (max-width:767px){
    .secCalendar{
        padding-top: 55px;
        margin-top: 5px;
    }
    .secCalendar .calenderTit{
        font-size: 16px;
        letter-spacing: 1px;
    }
    .secCalendar .iconTxt{
        font-size: 11px;
        margin-top: 20px;
    }
    .secCalendar .iconSpan{
        padding-left: 18px;
    }
    .secCalendar .iconSpan::after{
        width: 14px;
        height: 14px;
        top: 2px;
    }
    .secCalendar .wrapper{
        width: 93.3335%;
        max-width: none;
        margin: 18px 0 0 auto;
        padding-bottom: 14px;
    }
    .secCalendar .calendarList{
        width: calc(912px + 6.6665vw);
        padding-right: 6.6665vw;
    }
    .secCalendar .item{
        width: 294px;
        margin-right: 15px;
    }
    .secCalendar .monthTit{
        font-size: 12px;
        padding: 10px 0 11px;
        letter-spacing: 1px;
        transform: skewX(-4deg);
        width: calc(100% - 5px);
        margin: 0 auto;
    }
    .secCalendar .spanMonth{
        transform: skewX(4deg);
    }
    .secCalendar .dayTable{
        width: 100%;
    }
    .secCalendar tr{
        padding: 0 6px;
    }
    .secCalendar tr:nth-child(2){
        margin-top: 14px;
    }
    .secCalendar th{
        padding: 14px 0;
        font-size: 10px;
        letter-spacing: 0.5px;
    }
    .secCalendar .txtNote{
        font-size: 12px;
        line-height: 1.75;
        margin-top: 10px;
        letter-spacing: normal;
    }
}

/* psItem */
.psItem .ps__rail-x{
    opacity: 1 !important;
    background: #fff !important;
}
.psItem .ps__thumb-x{
    background: #bababa !important;
    bottom: 0 !important;
}
.psItem .ps__rail-x,
.psItem .ps__thumb-x{
    height: 3px !important;
    width: 108px !important;
    border-radius: 0;
}
.psItem .ps__rail-y,
.psItem .ps__thumb-y{
    display: none !important;
}
/* scrollItem */
@media only screen and (max-width:767px){
	.scrollItem{
        position: relative;
        width: 100%;
        height: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .scrollItem::-webkit-scrollbar{
        display: none;
    }
}

.secAccess{
    padding-top: 80px;
}
.secAccess .accessTit{
    font-size: 24px;
    text-align: center;
    letter-spacing: 3px;
}
.secAccess .accessWrapper{
    width: 530px;
    margin: 53px auto 0;
}
.secAccess .txtBox{
    margin-top: 42px;
}
.secAccess .wrapperTxtBox{
    padding-left: 108px;
}
.secAccess .btnParkingMap{
    width: 620px;
    height: 70px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    margin-top: 32px;
    color: inherit;
    letter-spacing: 2px;
    text-decoration: none;
    position: relative;
    top: 0;
    left: calc(50% - 310px);
}
.secAccess .btnParkingMap::before{
    content: "";
    display: block;
    width: 16px;
    height: 22px;
    margin-right: 10px;
}
.secAccess .btnParkingMap.lazyloaded::before{
    background: url(../img/index/imgBtnParkingMap.gif) center top / cover no-repeat;
}
.secAccess .txt{
    text-align: center;
}
.secAccess .txt,.secAccess .titStation,.secAccess .accessTable{
    font-size: 13px;
    line-height: 2.15;
    letter-spacing: 2px;
}
.secAccess .titStation{
    margin-top: 53px;
}
.secAccess .accessTable{
    margin-left: 30px;
}
.secAccess th{
    padding-right: 10px;
}
.secAccess .mapCover{
    position: relative;
    height: 600px;
    overflow: hidden;
    margin-top: 88px;
}
.secAccess iframe{
    position: absolute;
    left: calc(50% - 960px);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    height: 900px;
    top: -150px;
}
.secAccess .reserveBox{
    margin-top: 130px;
}
@media only screen and (max-width:767px){
    .secAccess{
        padding-top: 60px;
    }
    .secAccess .accessTit{
        font-size: 16px;
        letter-spacing: 1px;
    }
    .secAccess .accessWrapper{
        width: 280px;
        margin: 23px auto 0;
    }
    .secAccess .txtBox{
        padding-left: 7px;
        margin-top: 25px;
    }
    .secAccess .wrapperTxtBox{
        padding-left: 0;
    }
    .secAccess .btnParkingMap{
        width: 245px;
        height: 42px;
        font-size: 11px;
        margin-top: 17px;
        letter-spacing: 1px;
        text-decoration: none;
        left: calc(50% - 130px);
    }
    .secAccess .btnParkingMap::before{
        width: 8px;
        height: 11px;
        margin-right: 5px;
    }
    .secAccess .txt,.secAccess .titStation,.secAccess .accessTable{
        font-size: 12px;
        line-height: 1.83;
        letter-spacing: 1px;
    }
    .secAccess .titStation{
        margin-top: 42px;
    }
    .secAccess .accessTable{
        margin-left: 15px;
    }
    .secAccess th{
        padding-right: 8px;
    }
    .secAccess td{
        letter-spacing: 1px;
    }
    .secAccess .mapCover{
        height: auto;
        margin-top: 65px;
        padding-top: 80%;
    }
    .secAccess iframe{
        width:  100%;
        height: 100%;
        left: 0;
        top: 0;
    }
    .secAccess .reserveBox{
        margin-top: 100px;
    }
}
