@charset "UTF-8";

* {
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
:root {
  /* メインカラー（清潔感・信頼） */
  --main-color: #013c87;
  /* サブカラー（柔らかさ・女性向け） */
  --sub-color: #E8F6FD;
  /* アクセント（CTA・ボタン） */
  --accent-color: #FF8A00;
  /* 強調アクセント（ホバーなど） */
  --accent-hover: #E67600;
  /* アクセント（ピンク）：女性スタッフ・安心感 */
  --support-color: #FF8EAB;
/* アクセントカラー：輝き・注目（ボタンなど） */
  --accent-yellow-color: #FFD700;
  /* テキストカラー */
  --text-main: #333333;
  --text-sub: #666666;
  /* 背景 */
  --bg-white: #FFFFFF;
  --bg-light: #F7FBFE;
  /* 枠線・区切り */
  --border-color: #DCEAF3;
  /* 成功・チェック（理由・強み） */
  --success-color: #4CAF50;
}
body {
  font-family: "Noto Sans", Arial, sans-serif, "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  line-height: 1.6;
  color: var(--text-main);
  background-color: var(--bg-white);
}
a {
  color: var(--text-main);
  text-decoration: none;
  transition: ease 0.3s;
}
a:hover {
  opacity: 0.7;
  transition: ease 0.3s;
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
li {
  list-style: none;
}
.wrapper  {
  max-width: 1100px;
  padding: 0 16px;
  margin: 0 auto;
}
.wrapper-02  {
  max-width: 900px;
  padding: 0 16px;
  margin: 0 auto;
}
.wrapper-03  {
  max-width: 650px;
  padding: 0 16px;
  margin: 0 auto;
}
.en {
  font-family: Arial, Helvetica, sans-serif;
}
section {
  margin-bottom: 120px;
}
.sec-title {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 80px;
  color: var(--text-main);
  position: relative;
}
.sec-title .en {
  display: block;
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 15px;
  color: var(--text-main);
}
.sec-title:before {
  content: '';
  position: absolute;
  bottom: -10px;
  display: inline-block;
  width: 120px;
  height: 2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: var(--accent-color);
  border-radius: 2px;
}
.bg-light {
  background-color: var(--bg-light);  
}
.text {
  line-height: 30px;
}
.flex {
  display: flex;
  justify-content: space-between;
}
#services .flex.reverse {
  flex-direction: row-reverse;
}
.br-sp {
  display: none;
}
.br-pc {
  display: block;
}

/* --------------------------------
animation
-------------------------------- */
.reveal {
  opacity: 0;
  transform: translateY(24px); /* 下にずらす */
  transition: opacity 2.0s ease, transform 2s ease;
  will-change: opacity, transform;
}
.reveal.is-visible {
  opacity: 1;
  transform: translateY(0);
}
/* strengths: 3カラムを左から順に表示 */
#strengths .flex .item:nth-child(1) .reveal {
  transition-delay: 0s;
}
#strengths .flex .item:nth-child(2) .reveal {
  transition-delay: 0.5s;
}
#strengths .flex .item:nth-child(3) .reveal {
  transition-delay: 1.0s;
}
#works .flex .item:nth-child(1).reveal {
  transition-delay: 0s;
}
#works .flex .item:nth-child(2).reveal {
  transition-delay: 0.5s;
}
#works .flex .item:nth-child(3).reveal {
  transition-delay: 1.0s;
}

/* --------------------------------
header
-------------------------------- */
#header {
  width: 100%;
  height: 80px;
  transition: transform 0.3s, background-color 0.3s;
  background-color: rgba(255, 255, 255, 0.75);
  transition: transform 0.3s, background-color 0.3s;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
#header.is-fixed {
  position: fixed;
  top: 0;
  height: 80px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-100%);
  animation: slideIn 0.5s forwards;
  z-index: 99;
}
#header .inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .site-title {
  width: 340px;
  line-height: 1px;
  margin-left: 30px;
}
#nav {
  margin-right: 30px;
}
#nav .menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
#nav .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 26px;
}
#nav .menu .item {
  font-size: 0.95rem;
  text-decoration: none;
  position: relative;
  display: inline-block;
  line-height: 20px;
  font-size: 1rem;
}
#nav .menu .item {
  color: var(--text-main);
}
#nav .menu .item.no-border {
  border-right: 0
}
#nav .menu .item .sns .sns-logo,
#menu-sp .menu .item .sns-logo {
  height: 15px;
  display: inline-block;
}
#menu-sp .menu .item .sns-logo {
  margin-bottom: 3px;
}
#nav .menu .item .sns {
  display: flex;
}
#nav .menu .item .sns .instagram {
  margin-right: 10px;
}
#nav .menu .item .sns .youtube {
  margin-right: 10px;
}
#nav-sp {
  display: none;
}
#menu-sp {
  display: none;
  z-index: 100;
}
@keyframes slideIn {
  from { transform: translateY(-100%); }
  to { transform: translateY(0); }
}

/* --------------------------------
mainvisual
-------------------------------- */
#mainvisual {
  margin-bottom: 100px;
  position: relative;
}


#mainvisual .swiper {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
}

#mainvisual  .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #fff;
}
#mainvisual  .swiper-slide img {
  height: 100vh;
  object-fit: cover;
  object-position: center;
  width: 100%;
}
#mainvisual .swiper-button-prev,
#mainvisual .swiper-button-next {
  color: var(--bg-white);
  width: 48px;
  height: 48px;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
#mainvisual .swiper-button-prev {
  left: 20px;
}
#mainvisual .swiper-button-next {
  right: 20px;
}
#mainvisual .swiper-button-prev::after,
#mainvisual .swiper-button-next::after {
  font-size: 18px;
  font-weight: bold;
}

/* #mainvisual .img img {
  height: 100vh;
  object-fit: cover;
  object-position: center;
  width: 100%;
} */
/* #mainvisual .slider .item .slider-img {
  height: 100vh;
  object-fit: cover;
  object-position: center;
  width: 100%;
  position: relative; 
}*/
#mainvisual .concept-title {
  font-size: 2.5rem;
  position: absolute;
  top: 17%;
  right: 23%;
  z-index: 3;
  line-height: 70px;
  letter-spacing: 0rem;
  color: var(--bg-white);
  text-shadow: 0px 0px 10px #000;
  font-weight: normal;
}
#mainvisual .sub-copy {
  display: block;
  font-size: 1.2rem;
  line-height: 30px;
  margin-top: 30px;
}

/* --------------------------------
nav-menu
-------------------------------- */
#nav-menu {
  margin-bottom: 20px;
}
#nav-menu .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 1.5%;
}
#nav-menu .flex .item {
  background-color: #fff;
  border-radius: 5px;
  width: 24%;
}
#nav-menu .flex .item .item-title {
  background-color: #ffff00;
  border-radius: 5px;
  text-align: center;
  font-size: 0.85rem;
  padding: 12px;
}
#nav-menu .flex .item .text-link {
  padding: 10px;
}

/* --------------------------------
reason
-------------------------------- */
#reason .flex {
  justify-content: space-between;
  gap: 0 2%;
  margin-bottom: 80px;
  counter-reset: item;
}
#reason .flex .item {
  position: relative;
  list-style: none;
}
#reason .flex .item .img {
  position: relative;
}
#reason .flex .item .img img {
  width: 100%;
  display: block;
}
#reason .flex .item .img::before {
  content: counter(item, decimal-leading-zero);
  counter-increment: item;

  position: absolute;
  top: 0;
  left: 0;

  width: 35px;
  height: 35px;

  background: var(--main-color);
  background: rgba(31, 58, 95, 0.8);
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  font-size: 0.9rem;
}


/* --------------------------------
service
-------------------------------- */
#service {
  padding-top: 50px;
  padding-bottom: 70px;
}
#service .title {
  padding-left: 8px;
  border-left: 5px solid var(--main-color);
  margin-bottom: 30px;
  font-size: 1.3rem;
}
#service .flex {
  justify-content: space-between;

}
#service .house .air.flex .desc,
#service .house .air.flex .flex {
  width: 50%;
}
#service .house .air.flex {
  gap: 0 2%;
  margin-bottom: 50px;
}
#service .house .air.flex .text-title {
  background-color: var(--sub-color);
  padding: 10px 0 10px 20px;
  margin-bottom: 40px;
  font-size: 1.1rem;
}
#service .house .air.flex .list.flex {
  flex-wrap: wrap;
  padding-left: 30px;
  width: 100%;
  font-size: 1.1rem;
}
#service .house .air.flex .list.flex dt {
  width: 60%;
  margin-bottom: 20px;
}
#service .house .air.flex .list.flex dd {
  width: 40%;
  margin-bottom: 20px;
}
#service .house .air.flex .flex.img-flex {
  gap: 0 2%;
}
#service .house .air.flex .flex .img {
  width: 100%;
  height: 250px;
  overflow: hidden;

}
#service .house .air .flex .img  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
#service .list-2.flex {
  justify-content: space-between;
  gap: 0 2%; 
  text-align: center;
}
#service .list.flex .text {
  background-color: var(--sub-color);
  padding: 10px;
  font-size: 1.2rem;
}
#service .list-2.flex .img {
  width: 100%;
  height: 300px;
  overflow: hidden;
}
#service .list-2.flex .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* --------------------------------
works
-------------------------------- */
#works .flex {
  justify-content: space-between;
  align-items: center;
  gap: 0 3%;
  margin-bottom: 40px;
}
#works .flex .arrow {
  font-size: 2rem;
  color: var(--accent-color);
}
#works .flex .img {
  height: 300px;
  width: 100%;
  overflow: hidden;
  position: relative;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
}
#works .flex .img::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; 
  padding: 5px 15px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
#works .flex .img.bef::before {
  content: 'Before';
  background-color: var(--text-sub) 
}
#works .flex .img.aft::before {
  content: 'After'; 
  background-color: var(--success-color);
}
#works .flex .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
#works .desc {
  padding: 30px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}
#works .desc .title {
  margin-bottom: 30px;
  position: relative;
}
#works .desc .title::before {
  content: '';
  position: absolute;
  bottom: -8px;
  display: inline-block;
  width: 100px;
  height: 2px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
#works .desc .customer {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 20px;
}

/* --------------------------------
message
-------------------------------- */
#message {
  padding-top: 60px;
}
#message .flex {
  justify-content: space-between;
  align-items: center;
}
#message .flex .img {
  width: 55%;
  height: 400px;
  overflow: hidden;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
}
#message .flex .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
#message .flex .message {
  width: 43%;
}
#message .flex .title {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

/* --------------------------------
pikapika
-------------------------------- */
#pikapika {
  padding-bottom: 60px;
}
#pikapika .flex {
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}
#pikapika .flex .img {
  width: 50%;
  height: 500px;
  overflow: hidden;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
}
#pikapika .flex .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}
#pikapika .flex .message {
  width: 43%;
}
#pikapika .flex .title {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
#pikapika .flex .text {
  margin-bottom: 40px;
}

/* --------------------------------
flow
-------------------------------- */
#flow .flex {
  gap: 0 1%;
  counter-reset: item;
}
#flow .flex .arrow {
  color: var(--main-color);
  margin-top: 7%;
}
#flow .flex .item .img {
  margin-bottom: 10px;
  height: 200px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
#flow .flex .item .img::before {
  content: counter(item, decimal-leading-zero);
  counter-increment: item;

  position: absolute;
  top: 0;
  left: 0;

  width: 45px;
  height: 45px;

  border-radius: 50%;

  background: var(--main-color);
  background: rgba(31, 58, 95, 0.8);
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  font-size: 1rem;
}
#flow .flex .item .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
#flow .flex .item .title {
  text-align: center;
  margin-bottom: 10px;
} 
#flow .flex .item .text {
  font-size: 1rem;
  line-height: 25px;
}

/* --------------------------------
faq
-------------------------------- */
#faq .faq-list {
  display: grid;
  grid-template-columns: 7% 90%;
  column-gap: 3%;
}
#faq .faq-list dt,
#faq .faq-list dd {
  margin: 0 0 20px 0;
}

#faq .faq-list .square-q,
#faq .faq-list .square-a {
  border-radius: 3px;
  padding: 3px 8px;
  border: 1px solid var(--success-color);
}

#faq .faq-list .square-q {
  background-color: var(--success-color);
  color: var(--bg-white);
  
}
#faq .faq-list .square-a {
  background-color: var(--bg-white);
  color: var(--success-color);
  
}





/* --------------------------------
aboutus
-------------------------------- */
#aboutus .flex {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
#aboutus .flex .img,
#aboutus .flex .desc {
  width: 45%;
}
#aboutus .flex .img .inner-img {
  width: 100%;
  height: 250px;
  overflow: hidden;
  margin-bottom: 10px;
}
#aboutus .flex .img .inner-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}
#aboutus .flex .desc .text {
  margin-bottom: 10px;
}
#aboutus .map iframe {
  width: 100%;
  height: 300px;
}
#aboutus .flex .line {
  text-align: center;
  width: 100%;
}
#aboutus .flex .line img {
  width: 40%;
}

/* --------------------------------
footer
-------------------------------- */
#footer {
  padding: 15px 0;
  background-color: var(--main-color);
  color: var(--bg-white);
  text-align: center;
}

/*-------------------------------------------
TB
-------------------------------------------*/
@media screen and (max-width: 1200px) {
  /* --------------------------------
  [TB]header
  -------------------------------- */
  #header {
    padding: 0;
    height: 60px;
  }
  #header.is-fixed {
    height: 60px;
  }
  #header .inner {
    height: 100%;
  }
  #header .site-title {
    width: 250px;
  }
  #header .site-title .logo-img {
    max-width: 150px;
  }
  #nav.pc {
    display: none;
  }
  #nav-sp {
    display: block;
  }
  #header .hamburger {
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top: 16px;
    right: 40px;
    cursor: pointer;
    transition: 0.5s;
    z-index: 100;
  }
  #header .hamburger .icon-bar {
    width: 30px;
    height: 1px;
    border-radius: 4px;
    background-color: var(--main-color);
    position: absolute;
    left: 0px;
    transition: 0.5s;
    transition: all .7s cubic-bezier(.19,1,.22,1);
    transition-property: transform, opacity, background-color, width, top;
    transform-origin: right bottom; 
  }
  #header .hamburger span {
    background-color: var(--main-color);
  }
  #header .hamburger .icon-bar:nth-child(1) {
    top: 5px;
    transition-delay: 150ms;
  }
  #header .hamburger .icon-bar:nth-child(2) {
    top: 15px;
    transition-delay: .4s;
  }
  #header .hamburger .icon-bar:nth-child(3) {
    bottom: 5px;
    transition-delay: 0s;
  }
  body.nav-open .hamburger {
    position: fixed;
  }
  body.nav-open #header .hamburger .icon-bar:nth-child(1) {
    transform: translateX(-50%) rotate(315deg);
    top: 4px;
    left: 42%;
    width: 35px;
    background-color: var(--main-color);
  }
  body.nav-open #header .hamburger .icon-bar:nth-child(2) {
    transform: translateX(-60px); 
    opacity: 0;
    background-color: var(--main-color);
  }
  body.nav-open #header .hamburger .icon-bar:nth-child(3) {
    transform: translateX(-50%) rotate(-315deg);
    top: 30px;
    left: 42%;
    width: 35px;
    background-color: var(--main-color);
  }
  body.nav-open {
    overflow: hidden;
  }
  body.nav-open #menu-sp {
    right: 0;
    opacity: 1;
  }
  #menu-sp {
    display: block;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-light);
    padding: 140px 30px 0 30px;
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    opacity: 0;
    overflow-y: auto;
    z-index: 20;
    transition: 0.8s;
    transition: all 0.6s ease;
    text-align: center;
  }
  #menu-sp .img {
    margin-bottom: 50px;
  }
  #menu-sp .img img {
    width: 100px;
  }
  #menu-sp .menu .item {
    margin-bottom: 20px;
    font-size: 1rem;
  }
  #menu-sp .menu .item a {
    color: var(--main-color);
  }
  #menu-sp .menu .item.u-cottage {
    margin-bottom: 5px;
  }
  #menu-sp .menu .cottage.under-text {
    margin-bottom: 15px;
  }
  #menu-sp .menu .cottage {
    display: block;
    margin-bottom: 8px;
    margin-left: 25px;
    position: relative;
  }
  #mask {
    display: none;
  }
  .nav-open #mask {
    width: 100%;
    height: 100vh;
    background-color: #000;
    cursor: pointer;
    display: block;
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }
  
  /* --------------------------------
  [TB]mainvisual
  -------------------------------- */
  #mainvisual {
    height: 100vh;
  }
  #mainvisual .concept-title {
    font-size: 2.2rem;
  }
}

/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 768px) {
  .wrapper-02 {
    padding: 0;
  }
  .sec-title {
    font-size: 1.5rem;
    margin-bottom: 50px;
  }
  .sec-title .en {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
  }
	.loading__logo {
    opacity: 0;
    animation: logo_fade 2s 0.5s forwards;
    width: 100px;
  }
  .flex,
  .flex.reverse {
    flex-direction: column;
  }
  .br-sp {
    display: block;
  }
  .br-pc {
    display: none;
  }
  section {
    margin-bottom: 120px;
  }

  /* --------------------------------
  [SP]header
  -------------------------------- */
  #header .site-title {
    font-size: 1.5rem;
    margin-left: 16px;
  }
  #header .wrapper {
    padding: 0 16px;
  }
  #header .hamburger {
    right: 20px;
  }

  /* --------------------------------
  [SP]スクロールダウン
  -------------------------------- */
  .scroll {
    right: 40px;
  }

  /* --------------------------------
  [SP]mainvisual
  -------------------------------- */
  #mainvisual .concept-title {
    font-size: 1.5rem;
    line-height: 44px;
    right: 2%;
    left: 2%;
  }
  #mainvisual .sub-copy {
    font-size: 1.1rem;
  }



  /* --------------------------------
  [SP]footer
  -------------------------------- */
  #footer .flex {
    flex-direction: column;
    gap: 40px 0;
  }
  #footer .flex .contact, 
  #footer .flex .info {
    width: 100%;
  }
}
